PM_APP_ADDRESS=0x0
PM_APP_SIZE=0xfe000
PM_APP_NAME=app
PM_APP_ID=0
PM_app_ID=PM_APP_ID
PM_0_LABEL=APP
PM_SETTINGS_STORAGE_ADDRESS=0xfe000
PM_SETTINGS_STORAGE_SIZE=0x2000
PM_SETTINGS_STORAGE_NAME=settings_storage
PM_SETTINGS_STORAGE_ID=1
PM_settings_storage_ID=PM_SETTINGS_STORAGE_ID
PM_1_LABEL=SETTINGS_STORAGE
PM_OTP_ADDRESS=0xff8100
PM_OTP_SIZE=0x2fc
PM_OTP_NAME=otp
PM_NUM=2
PM_ALL_BY_SIZE="otp settings_storage app"