PM_APP_ADDRESS=0x1000000
PM_APP_SIZE=0x40000
PM_APP_NAME=app
PM_APP_ID=0
PM_app_ID=PM_APP_ID
PM_0_LABEL=APP
PM_APP_SPAN="hci_rpmsg"
PM_HCI_RPMSG_ADDRESS=0x1000000
PM_HCI_RPMSG_SIZE=0x40000
PM_HCI_RPMSG_NAME=hci_rpmsg
PM_HCI_RPMSG_ID=1
PM_hci_rpmsg_ID=PM_HCI_RPMSG_ID
PM_1_LABEL=HCI_RPMSG
PM_NUM=2
PM_ALL_BY_SIZE="hci_rpmsg app"