&i2c2 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	sda-pin = <4>;
	scl-pin = <7>;
	clock-frequency = <I2C_BITRATE_STANDARD>;
	label = "I2C_2";

	adxl372@53 {
		compatible = "adi,adxl372";
		label = "ADXL372";
		reg = <0x53>;
		int1-gpios = <&gpio0 6 0>;
	};
};

&spi3 {
	status = "disabled";
};
